<html>

<head>
    <title>contat as</title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='style1.css') }}">
</head>

<body>
    <section>
        <div class="container">
            <h2>Contact as</h2>
            <div class="rows">
                <div class="col">
                    <div class="inputbox">
                        <input type="text" name="" required="required">
                        <samp class="text">First Name</samp>
                        <samp class="line"></samp>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col">
                    <div class="inputbox">
                     <input type="text" name="" required="required">
                     <samp class="text">Last Name</samp>
                     <samp class="line"></samp>
                    </div>
               </div>
            </div>
            <div class="rows">
                <div class="col">
                    <div class="inputbox">
                        <input type="text" name="" required="required">
                        <samp class="text">Email</samp>
                        <samp class="line"></samp>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col">
                    <div class="inputbox">
                        <input type="text" name="" required="required">
                        <samp class="text">Mobile</samp>
                        <samp class="line"></samp>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col">
                    <div class="inputbox">
                        <textarea required="required"></textarea>
                        <samp class="text">Type Your Message Hear....</samp>
                        <samp class="line"></samp>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col">
                    <input  type="button"  value="submit">
                </div>
            </div>
        </div>
       
    </section>
    
</body>

</html>